*. {
  box-sizing: border-box;
}
.container-Store {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}
.shop-row {
}
.icon-row {
  text-align: right;
  margin: 30px;
  margin-bottom: 20px;
}
