.ShopCard {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
.name {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}
.color {
  text-align: center;
  font-size: 16;
}
.img-row {
  display: flex;
  justify-content: center;
}
.img {
  width: 200px;
  height: 200px;
}
.ShopCard-footer {
  display: flex;
}
.price {
  width: 50%;
  text-align: center;
  font-size: 16;
  font-weight: 500;
}
.btn {
  width: 50%;
  width: 50%;
  text-align: center;
}
